* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.logo{
    height: 40px;
    margin-right: 200px;
}

.navbar {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: white;
    padding: 15px;
    gap: 10px;
}

.nav_menu {
    display: flex;
    list-style: none;
    margin-right: 380px;
    padding-left: 0;
}

.nav_menu-item {
    position: relative;
}

.nav_menu-item a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 10px 15px;
    display: block;
}

.nav_menu-item:hover > a {
    background-color: gray;
    border-radius: 5px;
}

.nav_submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
    border-color: black;
    list-style-type: none;
    margin: 0;
}

.nav__menu-item:hover .nav__submenu {
    display: block;
}

.nav_submenu-item a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 15px;
}

.nav_submenu-item a:hover {
    background-color: gray;
}

.btnRegister {
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 35px;
    height: 50px;
    width: 80px;
}

.btnRegister a {
    text-decoration: none;
    color: white; 
    font-weight: 600;
}

.searchLinks {
    text-align: center; 
}

.searchLinks h1 {
    margin-top: 30px;
    font-size: 50px;
    font-weight: 900;
}

.searchLinks ul {
    margin-top: 45px;
    display: flex;
    justify-content: center; 
    gap: 30px; 
}

.searchLinks li {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 7px;
}

.searchLinks li img {
    height: 25px; 
    width: 25px; 
}

.searchLinks li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: center;
}

.searchLinks .homeA{
    text-decoration: underline;
}

.inputContainer input{
    height: 50px;
    width: 700px;
    border-radius: 20px;
    margin-top: 30px;
    border-color: 1px solid #808080;
    color: black;
    box-shadow: 0 0 5px 3px lightgray;
    font-size: 18px;
    padding: 10px;
}

.inputContainer button{
    height: 53px;
    border-radius: 20px;
    width: 100px;
    background-color: #34e0a1;
    border-color: #34e0a1;
    font-weight: 600;
    font-size: 16px;
}

.mealLinks{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 20px;
}

.mealText {
    margin-right: 770px;
    gap: 10px;
}

.mealText h2{
    margin: 10px 0px;

}

.mealImg {
    display: flex;
    gap: 10px; 
}

.mealImg img{
    border-radius: 5px;
}

.imageContainer{
    position: relative;
}

.textOverlay{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    font-size: 26px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 900;
}


.travelLinks{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

.travelText{
    margin-right: 770px;
    margin-top: 30px;
}

.travelText h3{
    font-size: 25px;
    margin: 10px 0px;

}

.travelImages{
    display: flex;
    gap: 18px;
    margin-top: 10px;
}

.travelImg{
    display: flex;
    flex-direction: column;
}

.travelImg img
{
    border-radius: 10px;
    height: 270px;
    width: 400px;
}


.travelBy{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.travelBy span , a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}


.travelCity{
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
}

.travelLike{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.travelLike img{
    height: 20px;
    width: 20px;
}

.travelLikeCount{
    display: flex;
    justify-content: center;
}


.travelBy:hover a , .travelCity:hover{
    text-decoration: underline;
    color: rgb(76, 76, 76);
}

.bakuLinks{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
}

.bakuText{
    margin-right: 870px;
    margin-top: 30px;
}

.bakuText h4{
    font-size: 25px;
    margin: 10px 0px;

}

.bakuImages{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.bakuImg{
    display: flex;
    flex-direction: column;
}

.bakuContainerImg {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.bakuContainerImg img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.bakuContainerImg a {
    position: absolute;
    top: 10px; 
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50%;
    padding: 5px;
    width: 38px;
    height: 38px;
    text-decoration: none;
}

.bakuContainerImg a img {
    width: 80%;
    height: 80%;
} 

.bakuImg span{
    width: 300px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px;
}

.bakuImg p{
    width: 300px;
    font-weight: 600;
    margin-top: 10px;
    font-size: 14px;
}


.trendLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
}

.trendLinks h5{
    font-size: 25px;
    margin: 10px 1030px 0px 0px;
}

.trendLinks p{
    font-weight: 550;
    margin: 30px 1110px 0px 0px;
    border-bottom: 2px solid black;
}

.footerLinks{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    margin-right: 250px;
    gap: 200px;
    margin-bottom: 30px;

}

.list li{
    list-style: none;
    margin-bottom: 7px;
}

.list li a{
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
}

.list li a:hover {
    text-decoration: underline;
    color: rgb(76, 76, 76);
}






